genomeocean.egg-info/
dist/
examples/outputs
build/
.go*
test_data/*
slurm*.out
__pycache__
*/__pycache__/*
*/*/__pycache__/*
*.ipynb_checkpoints
genomeocean.egg-info/dependency_links.txt
genomeocean.egg-info/PKG-INFO
genomeocean.egg-info/SOURCES.txt
genomeocean.egg-info/top_level.txt
